aniso8601==7.0.0
click==8.0
Flask==2.2.2
Flask-GraphQL==2.0.1
graphene
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==2.0
Jinja2==3.0
MarkupSafe==2.1.1
promise==2.3
Rx==1.6.1
six==1.15.0
Werkzeug==2.2.2
graphene-sqlalchemy
sqlalchemy
